* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
.glow {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
}

.container{
    background-color: rgba(197, 196, 196, 0.253);
    padding: 50px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
